.menu-page {
	display: flex;
	flex-direction: column;

	&__picture-wrapper {
		transform: translateY(50px);
		max-height: 500px;
		@include flexbox-center;
	}
	&__picture {
		width: 100%;
		display: block;
	}
}
.menu {
	padding: 30px 15px 50px 15px;
	background-color: #f2f2f2;
	border-radius: 40px 40px 0% 0%;
	max-width: 600px;
	z-index: 4;
	max-width: 100%;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
