$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-quaternary: #f2f2f2;

$box-shadow-regular: 9px 12px 15px -11px #c9c9c9;
$box-shadow-medium: 9px 12px 15px -5px #c9c9c9;
$color-gradient-primary-secondary: linear-gradient(350deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
